<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <meta name="apple-mobile-web-app-title" content="比赛网">

    <link href="/Public/favicon.ico" rel="shortcut icon">
    <block name="header">
        <include file="Public/header" title="比赛网-民间比赛第一门户" keywords="比赛网,比赛,体育比赛,足球比赛,篮球比赛,羽毛球比赛,民间比赛" description="民间比赛第一门户"
            copyright="合肥宽土猫科技有限公司" />
    </block>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--单页自定义样式引入-->
    <block name="headerCss"></block>
    <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
       <div class="container-fluid">
            <!--页面顶部内容-->
            <block name="PageHeader"></block>
            <!--内容区域-->
            <block name="content"></block>
            <!--页面尾部内容-->
            <block name="PageFooter"></block>    
       </div>
    <!--页尾js-->
    <block name="scriptContent"></block>
    <div style="display:none">
        <script src="http://s95.cnzz.com/stat.php?id=1255812022&web_id=1255812022" language="JavaScript"></script>
    </div>
</body>

</html>

    