<footer>
	<hr>
	<div class="row clearfix">
		<div class="col-md-2 ">
		</div>
		<div class="col-md-8 ">
			<div class="row clearfix">
				<div class="col-md-4">
					<div class="copyright-txt">
						<div class="logo-gray"><a href="/">比赛网</a></div>
						<p>© Copyright 比赛网 2015-{:date("Y")}. All rights reserved. (皖ICP备15008148号-4)</p>
					</div>
				</div>
				<div class="col-md-2">
					<!--<div class="footer-irs">
						<h4>比赛网</h4>
						<ul>
							<li><a href="/about" title="关于我们">关于我们</a></li>
							<li><a href="/terms#contact" title="联系我们">联系我们</a></li>
							<li><a href="/terms#friendlink" title="友情链接">友情链接</a></li>
						</ul>
					</div>-->
				</div>
				<div class="col-md-5 col-md-offset-1">
					<!--<div class="footer-social">
						<h4>关注我们</h4>
						<div class="sns-sina">
							<strong>新浪微博</strong>
							<ul>
								<li><a href="$" title="比赛网" target="_blank">@比赛网</a></li>
								<li><a href="$" title="比赛网" target="_blank">@比赛网</a></li>
								<li><a href="$" title="比赛网" target="_blank">@比赛网</a></li>
							</ul>
						</div>
						<div class="sns-weixin">
							<strong>微信</strong>
							<ul>
								<li><img src="/assets/global/qrcode-iranshao.jpg" alt="比赛网"></li>
							</ul>
						</div>
					</div>-->
				</div>
			</div>
		</div>
		<div class="col-md-2 ">
		</div>
	</div>
</footer>