<extend name="Public:base" />
<block name="headerCss">
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" href="__STATIC__/JQuery/jquery-ui.min.css">
</block>
<block name="menuTree">
    <!--<include file="Public/listree" />    -->
    {:BaseTreeList($treeArr)}
</block>
<block name="content">
    <ul class="breadcrumb">
        <li><span class="primary-font"><i class="icon-home"></i></span><a href="{:U('/Admin/Index/')}"> Home</a></li>
        <li>系统管理</li>
        <li>菜单管理</li>
        <li>菜单列表</li>
    </ul>
        <div class="row">
            <a href="{:U('/Admin/Bsw/addEvent')}" class="btn btn-success col-xs-offset-11">添加赛事项目</a>
            <table class="table table-striped" id="dataTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>赛事项目</th>
                        <th>序号</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name='eventList' item='val'>
                        <tr>
                            <td>{$val.id}</td>
                            <td>{$val.e_name}</td>
                            <td>{$val.e_sort}</td>
                            <td>
                                <a href="{:U('/Admin/Bsw/alterEvent/', array('id' => $val['id']))}" class="btn btn-primary">修改</a>
                                <a href="#" class="btn btn-danger">删除</a></td>
                        </tr>
                    </foreach>
                    <!--<tr>
                <td colspan="4" align='center'>
                    <div class="Pagination">{$show}</div>
                </td>
            </tr>-->
                </tbody>
            </table>
    </div>
</block>