<extend name="Public:base" />
<block name="headerCss">
    <link rel="stylesheet" href="__PUBLIC__/css/public.css">
    <link rel="stylesheet" href="__PUBLIC__/css/node.css">
</block>
<block name="menuTree">
    <!--<include file="Public/listree" />    -->
    {:BaseTreeList($treeArr)}
</block>
<block name="content">
    <div id="wrap">
        <a href="{:U('/Admin/Rbac/AddNode/')}" class="add-app">添加应用</a>
        <foreach name="nodelList" item="app">
            <div class="app">
                <p>
                    <strong>{$app.title}</strong>[<a href="{:U('/Admin/Rbac/AddNode/',array('nodePid' => $app['id'],'nodeLevel' => 2))}">添加控制器</a>][
                    <a href="#">修改</a>] [
                    <a href="#">删除</a>]
                </p>
                <foreach name="app.child" item="action">
                    <dl>
                        <dt>
                            <strong>{$action.title}</strong>[<a href="{:U('/Admin/Rbac/AddNode/',array('nodePid' => $action['id'],'nodeLevel' => 3))}">添加方法</a>]
                       </dt>
                        <foreach name="action.child" item="method">
                            <dd>
                                <span>{$method.title}</span> [
                                <a href="#">修改</a>] [
                                <a href="#">删除</a>]
                            </dd>
                        </foreach>
                    </dl>
                </foreach>
            </div>
        </foreach>
    </div>
</block>